.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}

.user h2 {
  font-size: 2rem;
  padding-top: 10px;
 

}

.quiz {
  background-color: rgb(240, 227, 116);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  padding-bottom: 100px;
}

.result {
  background-color: #92ee5c;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  
  
  
}

.options button {
  margin: 10px;
}

.user{
  background-color: rgb(241, 231, 138);
  border-radius: 3%;
}

.user p {
  padding-bottom: 10px;
}